autogluon==1.1.1
autogluon.common==1.1.1
autogluon.core==1.1.1
autogluon.features==1.1.1
autogluon.multimodal==1.1.1
autogluon.tabular==1.1.1
autogluon.timeseries==1.1.1
liltab==1.0.5
numpy==1.24.1
pandas==2.2.2
scikit_learn==1.4.0
scipy==1.14.1
torch==2.2.2
